In [18]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv("akinator_1000_dataset.csv")

In [5]:
df.head()

,is_real,is_male,is_superhero,can_use_magic,is_from_movie,is_from_cartoon,is_cricketer,is_footballer,is_scientist,is_politician,is_actor,is_businessman,is_singer,is_anime,is_marvel,is_dc,is_indian,is_american,is_alive,character
0,0,0,1,0,1,1,0,0,1,1,0,0,1,1,0,1,0,0,1,Albert Einstein
1,1,0,1,0,1,0,0,1,1,1,1,1,1,1,0,0,0,0,1,Taylor Swift
2,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,0,1,Taylor Swift
3,1,1,0,1,1,0,1,1,0,0,1,0,1,0,1,0,0,0,1,Doctor Strange
4,1,0,1,1,0,0,1,1,0,0,1,1,1,0,1,0,1,1,0,Arijit Singh

In [6]:
x =  data.drop("character",axis=1)
y =  data["character"]

In [7]:
x.shape

(1000, 19)

In [8]:
x.head()

,is_real,is_male,is_superhero,can_use_magic,is_from_movie,is_from_cartoon,is_cricketer,is_footballer,is_scientist,is_politician,is_actor,is_businessman,is_singer,is_anime,is_marvel,is_dc,is_indian,is_american,is_alive
0,0,0,1,0,1,1,0,0,1,1,0,0,1,1,0,1,0,0,1
1,1,0,1,0,1,0,0,1,1,1,1,1,1,1,0,0,0,0,1
2,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,1,1,0,1,1,0,1,1,0,0,1,0,1,0,1,0,0,0,1
4,1,0,1,1,0,0,1,1,0,0,1,1,1,0,1,0,1,1,0

In [28]:
model = DecisionTreeClassifier(random_state=42)
model.fit(x,y)
model.score(x,y)

1.0

In [30]:
answer = [0,0,1,1,1,0,1,0,0,1,0,0,1,0,1,0,0,1,1]
prediction = model.predict([answer])
print("model says:",prediction[0])

model says: Doraemon

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(